<h1>Sign Up</h1>

<form action="/signup" method="post">
    <label for="fullname">Full  name</label>
    <input type="text" name="fullname" required size="50"> <br>
    <label for="address">Address</label>
     <input type="text" name="address" required size="50"> <br>
    <label for="state">State</label>
     <input type="text" name="state"  value="NYC" readonly> <br>
    <label for="email">Email</label>
     <input type="email" name="email" required> <br>
    <label for="dob">DOB</label>
     <input type="date" name="dob" required> <br>
    <hr>
    <label for="username">Username</label>
    <input type="string" name="username" required> <br>
    <label for="password">Password (8 characters)</label>
    <input type="password" name="password" lenght="8" required > <br>
     <input type="submit" value="Create User">
</form>

<% if Helper.is_admin?(session) %>
<a href="/admin">Admin's Page</a><br>

<%else%>

<a href="/appointments">Appointments</a><br>
<%end%>
 <a href="/logout">Log out</a>  