<h1>Login</h1>

<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password (8 characters)</label>
  <input type="password" name="password"><br>

  <input class="btn" type="submit" value="Login">
</form>
<a class="btn" href="/">Cancel</a><br>

            
          
  