<h1>New appointment</h1>
<form action="/appointments" method="post">
    <h2>Choose a location</h2>
    <%@locations.each do |l|%>
       <input type="radio" name="location[id]" value="<%=l.id%>" checked><label><%=l.name%> <%=l.address%><br></label>
    <%end%>
        
   <br>
    <label for="date">Date</label>
    <input type="date" name="appointment[date]" required><br><br>
    <label for="time">Hours</label>
    <input type="time" name="appointment[time]" required><br><br>
    <label for="Dose">Dose</label><br>
    <input type="radio" name="appointment[dose]" value="1" checked><label>1st dose</label><br>
    <input type="radio" name="appointment[dose]" value="2"><label>2st dose</label><br><br>
   
    <input type="submit" value="submit">


</form>

