<h3>New appointment</h3>
<form action="/appointments" method="post">
    <h3>Choose a location</h3>
    <%@locations.each do |l|%>
       <input type="radio" name="appointment[location_id]" value="<%=l.id%>" checked><label><%=l.name%> <%=l.address%><br></label>
    <%end%>
        
   <br>
    <label for="date">Date</label>
    <input type="date" name="appointment[date]" required><br><br>
    <label for="time">Hours</label>
    <input type="time" name="appointment[time]" required><br><br>
    <label for="Dose">Dose</label><br>  <br>

    <label><input type="radio" name="appointment[dose]" value="1" checked>1st dose</label>
    <label><input type="radio" name="appointment[dose]" value="2">2st dose</label><br><br>
   
    <input type="submit" value="Create Appointment">

</form>

<% if Helper.is_admin?(session) %>
<a class="btn" href="/admin">Admin's Page</a><br>

<%else%>

<a class="btn" href="/appointments">Appointments</a><br>
<%end%>
 <a class="btn" href="/logout">Log out</a>  