<div class="wrap">
    <div id="text_login">
            <p>The first COVID-19 vaccines are here. Supply from the Federal Government is limited. Additional New Yorkers will become eligible as the vaccine supply increases. While the vaccination process is underway, every New Yorker should wear a mask, social distance and avoid small and large gatherings.</p>
            <p>Over 12 million New Yorkers are now eligible for the vaccine. Eligible groups include doctors, nurses and health care workers, people age 60 and over, first responders, teachers, public transit workers, grocery store workers, public safety workers and New Yorkers with certain comorbidities and underlying conditions.</p><p>FDA fact sheets for recipients and caregivers on each vaccine are available: Pfizer, Moderna and Janssen/Johnson & Johnson.</p>
    </div>
    <div  class="btn_login">
            <a class="btn" href="/login">Login</a><br>
            <a class="btn" href="/signup">Sign Up</a>

    </div >       
    <div class="column">
              <img src="/images/map.png" width="500px">
    </div> 

</div>








