<!doctype html>
<html>
  <head>
    <title>NYC Vaccine Program</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to NYC Vaccine 2021</h1>
      <%= yield %>
    </div>

  </body>
</html>
