<h3>New Location</h3>

<form  action="/locations" method="post">

<label for="name">Location name</label>
<input type="text" name="name" size="30"><br>

<label for="address">Location address</label>
<input type="text" name="address" size="60"><br>

<input type="submit" value="Create Location">


</form>
 <a class="btn" href="/admin">Admin's Page</a><br>
 <a class="btn" href="/logout">Log out</a> 